*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Img/BG\ photo.png);

}
header{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 1121px;

    position: absolute;
    width: 1592.24px;
    height: 85px;
    left: 160px;
    top: 40px;
}

.header-section{
    position: absolute;
    width: 1920px;
    height: 1113px;
    left: 0px;
    top: 0px;
    
    
}

#logo{
    width: 259px;
    height: 85px;
}

.social-links{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 212,24px;
    height: 40px;
}

.frame-34{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 109.94px;
    height: 40px;
}